<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yefeng.netdisk.front.mapper.DiskFileMapper">


    <sql id="selectFileBo">
        select tdf.id,
               tdf.disk_id,
               tdf.file_id,
               tdf.file_name,
               tdf.parent_file_id,

               tf.length,

               tf.hash,
               tf.type,
               tf.status
        from tb_disk_file as tdf
                 join tb_file as tf
                      on tf.id = tdf.file_id
    </sql>


    <sql id="fileVo">
        ${tf}.id,
            length ,
            `hash`,
            `path`,
            `status`,
        ${tdf}
        .
        file_name
        as
        `name`
    </sql>
    <select id="selectFilePathByDiskIDAndFileId" resultType="com.yefeng.netdisk.front.entity.DiskFile">
        SELECT df.*
        FROM (SELECT @r                                                                      AS disk_file_id,
                     (SELECT @r := parent_file_id FROM tb_disk_file WHERE disk_file_id = @r LIMIT 1) AS parent_file_id
              FROM (SELECT @r := #{disk_file_id}) vars,
                   tb_disk_file
              WHERE @r IS NOT NULL) T
                 JOIN tb_disk_file df ON T.disk_file_id = df.disk_file_id
        where disk_id = #{diskId}
    </select>

    <select id="selectAllSubDiskFile" resultType="com.yefeng.netdisk.front.entity.DiskFile">
        WITH RECURSIVE sub_files AS (
            SELECT
                df.*
            FROM
                tb_disk_file df
            WHERE
                1=1
              and disk_id = #{diskId}
              and disk_file_id in
                <foreach collection="diskFileIds" item="diskfileid" open="(" separator="," close=")">
                    #{diskfileid}
                </foreach>
            UNION ALL
            SELECT
                df.*
            FROM
                sub_files sf
                    JOIN tb_disk_file df ON sf.disk_file_id = df.parent_file_id
        )
        SELECT
            *
        FROM
            sub_files;
    </select>
    <select id="getFileList" resultType="com.yefeng.netdisk.front.dto.DiskFileDto">
        select tdf.*,tf.length,tf.hash,tf.status
        from tb_disk_file as tdf
                 left join tb_file tf on tf.id=tdf.file_id
        where tdf.disk_id = #{diskId} and tdf.parent_file_id=#{parentFileId} and tdf.status=#{status}
        <if test="search!=null and search !=''">
            and tdf.file_name like concat('%',#{search},'%')
        </if>
    </select>

    <update id="deleteFile">
        delete tdf from tb_disk_file as tdf
        where
        tdf.disk_file_id in
        <foreach collection="fileIds" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
        and tdf.status=3
        and tdf.disk_id=#{diskId}
    </update>

    <update id="updateStatus">
        update tb_disk_file tdf
        set tdf.status=#{statusCode},tdf.modify_time=now()
        where
        tdf.disk_file_id in
        <foreach collection="fileIds" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
        and
        tdf.disk_id=#{diskId}
    </update>
    <update id="moveFileBatch">

        <foreach collection="diskFiles" item="item" separator=";">
            update tb_disk_file set parent_file_id =#{item.parentFileId},modify_time=#{item.modifyTime} where disk_file_id=#{item.diskFileId}
        </foreach>


    </update>
    <update id="updateBatchByIds">

        <foreach collection="diskFiles" item="item" separator=";">
            update tb_disk_file tdf
            set tdf.status=#{item.status},tdf.modify_time=now(),tdf.file_name=#{item.fileName}
            where
            tdf.disk_file_id = #{item.diskFileId}
            and
            tdf.disk_id=#{item.diskId}
        </foreach>

    </update>
</mapper>
