<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yefeng.netdisk.front.mapper.DiskFileMapper">


    <sql id="selectFileBo">
        select tdf.id,
               tdf.disk_id,
               tdf.file_id,
               tdf.file_name,
               tdf.parent_file_id,

               tf.length,

               tf.hash,
               tf.type,
               tf.status
        from tb_disk_file as tdf
        join tb_file as tf
        on tf.id = tdf.file_id
    </sql>

    <select id="getFileList" resultType="com.yefeng.netdisk.front.bo.FileBo">
        <include refid="selectFileBo"/>
        where tdf.disk_id = #{diskId}
        and tdf.parent_file_id = #{parentFileId}
    </select>

    <sql id="fileVo">
        ${tf}.id,
            length ,
            `hash`,
            `path`,
            `status`,
        ${tdf}.file_name as `name`
    </sql>

</mapper>
